@tailwind base;
@tailwind components;
@tailwind utilities;

/* feedback obi sve trebalo da bude tailwind,
razlozi, konzistentnost, crowsbrowser problemmi se smanjuju */
body {
  font-family: Arial, Helvetica, sans-serif;
}

.container-register-width {
  width: 100%;
}

.container-register {
  width: 400px;
}

.container-register-flex {
  display: grid;
  justify-content: center;
}

.container-log-in-width {
  width: 500px;
}