@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%; /* Ensure the elements fill the entire viewport height */
  margin: 0; /* Remove default margins */
  background-color: white; /* Set a consistent background color */
  color: black;
}

.btn:hover{
  background-color: rgb(198, 198, 198);
}
