@tailwind base;
@tailwind components;
@tailwind utilities;


/* body {
  font-family: Arial, Helvetica, sans-serif;
}
.container-register-width{
  width: 100%;
}
.container-register{
  width: 400px;
}
.container-register-flex{
  display: grid;
  justify-content: center;
}
.container-log-in-width{
  width: 500px;
} */